<!-- education -->
<div id="education" class="content-section-a">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>Education</h2>
        <!-- <p class="lead" style="margin-top:0">A special thanks to Death.</p> -->
      </div>

      <div class="col-sm-6  block wow bounceIn">
        <div class="row">
          <div class="col-md-4 box-icon rotate">
            <i class="fa fa-graduation-cap fa-4x "> </i>
          </div>
          <div class="col-md-8 box-ct">
            <h3> A.A Computer Science </h3>
            <p> Miami Dade College. Graduated September 2014 </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 block wow bounceIn">
        <div class="row">
          <div class="col-md-4 box-icon rotate">
            <i class="fa fa-keyboard-o fa-4x "> </i>
          </div>
          <div class="col-md-8 box-ct">
            <h3> Bachelor's in Computer Information Technology</h3>
            <p> Miami Dade College. Major in Mobile Application Development. In Progress</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row tworow">
      <div class="col-sm-6  block wow bounceIn">
        <div class="row">
          <div class="col-md-4 box-icon rotate">
            <i class="fa fa-desktop fa-4x "> </i>
          </div>
          <div class="col-md-8 box-ct">
            <h3> Programmer </h3>
            <p> Self Taught in the glorious art of programming. Mobile and Web applications. </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 block wow bounceIn">
        <div class="row">
          <div class="col-md-4 box-icon rotate">
            <i class="fa fa-pencil fa-4x "> </i>
          </div>
          <div class="col-md-8 box-ct">
            <h3> High School Diploma</h3>
            <p> Hialeah High School. Always gained, never bought. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
